
body{
    background: white;
}

body::after{
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}

#page-search-result{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-result header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#page-search-result a{
   color: var(--title-color);
   font-weight: bold;
   display: flex;
   align-items: center;
}

#page-search-result a span{
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 23px;
    display: flex;
    margin-right: 16px;
 }

 #page-search-result main{
     margin: 48px;

 }

 #page-search-result main h4{
     font-weight: normal;
     font-family: Roboto, sans-serif;
     margin-bottom: 32px;
 }

 #page-search-result main img{
     width: 100%;
     height: 150px;
     border-radius: 8px 8px 0 0 ;
     object-fit: cover;
 }

 main .cards{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 24px;
 }

 main .card h1{
     margin-top: 32px;
     font-size: 36px;
     line-height: 41px;
     color: #322153;
 }

 main .card h3{
     margin: 24px 0;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 34px;

     color: #34CB79;
 }