#page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#page-create-point a{
   color: var(--title-color);
   font-weight: bold;
   display: flex;
   align-items: center;
}

#page-create-point a span{
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 23px;
    display: flex;
    margin-right: 16px;
    
 }

 form{
     margin: 80px auto;
     background-color: white;
     padding: 64px;
     max-width: 730px;
 }

 form h1{
     font-size: 36px;
 }

 form fieldset{
     margin-top: 64px;
     border: 0;
 }

 form legend{
     margin-bottom: 40px;
 }

 legend h2{
     font-size: 24px;
 }

 form .field{
     display: flex;
     flex-direction: column;
     margin-bottom: 24px;
     flex: 1;
 }

 form .field-group{
     display: flex;
 }

 form input , form select{
     background: #f0f0f5;
     border: none;
     padding: 16px 24px;
     font-size: 16px;
 }

 form select{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
 }

 form label{
     font-size: 14px;
     margin-bottom: 8px;
 }
 form .field-group .field + .field{
     margin-left: 24px;
 }

 form button{
     width: 260px;
     height: 56px;
     background-color: var(--primary-color);
     border-radius: 8px;
     color: white;
     font-weight: bold;
     font-size: 16px;
     border: 0;
     margin-top: 40px;
     transition: background-color .4s;
 }

 form button:hover{
     background-color: #2fb86e;
 }